<%= form_with model: customer, local: true do |form| %>
  <div class="field">
    <%= form.label :name, '客戶名稱', class: 'label' %>
    <div class="control">
      <%= form.text_field :name, placeholder: '請輸入客戶名稱', required: true,  class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= form.label :area_id, '所屬區域', class: 'label' %>
    <div class="control">
      <div class="select is-fullwidth">
        <%= form.collection_select :area_id, Area.all, :id, :name %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.label :tel, '聯絡電話', class: 'label' %>
    <div class="control">
      <%= form.telephone_field :tel, placeholder: '選填', class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= form.label :address, '地址', class: 'label' %>
    <div class="control">
      <%= form.text_field :address, placeholder: '選填', class: 'input' %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <label class="checkbox">
        <%= form.check_box :cash_payment, class: 'checkbox' %>
          現金付款（未勾選則預設為月結）
      </label>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <label class="checkbox">
        <%= form.check_box :close_day_at_25th, class: 'checkbox' %>
          每月25號結算
      </label>
    </div>
  </div>

  <div class="field">
    <%= form.label :note, '備註欄', class: 'label' %>
    <div class="control">
      <%= form.text_area :note, rows: 5, placeholder: '選填', class: 'textarea' %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= form.button class: 'button is-primary is-medium' do %>
        <span class="icon is-small">
          <i class="fas fa-save"></i>
        </span>
        <span>儲存</span>
      <% end %>

      <%= link_to customers_path, class: 'button is-light is-medium' do %>
        <span class="icon is-small">
          <i class="fas fa-undo"></i>
        </span>
        <span>返回</span>
      <% end %>
    </div>
  </div>
<% end %>
