<h2 class="title is-2">客戶列表</h2>

<%= link_to new_customer_path, class: 'button is-primary' do %>
  <span class="icon is-small">
    <i class="fas fa-plus"></i>
  </span>
  <span>新增客戶</span>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th scope="col" class="is-size-5">客戶名稱</th>
      <th scope="col" class="is-size-5">所屬區域</th>
      <th scope="col" class="is-size-5">聯絡電話</th>
      <th scope="col" class="is-size-5">地址</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td class="is-size-5"><%= customer.name %></td>
        <td class="is-size-5"><%= customer.area.name %></td>
        <td class="is-size-5"><%= customer.tel %></td>
        <td class="is-size-5"><%= customer.address %></td>
        <td>
          <%= link_to edit_customer_path(customer), class: 'button is-info is-small' do %>
            <span class="icon is-small">
              <i class="fas fa-edit"></i> 
            </span>
            <span class="is-size-6">編輯</span>
          <% end %>

          <%= link_to customer, method: 'delete', class: 'button is-danger is-small', data: { confirm: '確定要刪除嗎？' } do %>
            <span class="icon is-small">
              <i class="fas fa-trash-alt"></i>
            </span>
            <span class="is-size-6">刪除</span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
