<h1 class="title">客戶列表</h1>

<%= link_to new_customer_path, class: 'button is-primary' do %>
  <span class="icon is-small">
    <i class="fas fa-plus"></i>
  </span>
  <span>新增客戶</span>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">客戶名稱</th>
      <th scope="col">所屬區域</th>
      <th scope="col">聯絡電話</th>
      <th scope="col">地址</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.area.name %></td>
        <td><%= customer.tel %></td>
        <td><%= customer.address %></td>
        <td>
          <%= link_to edit_customer_path(customer), class: 'button is-info is-small' do %>
            <span class="icon is-small">
              <i class="fas fa-edit"></i> 
            </span>
            <span>編輯</span>
          <% end %>

          <%= link_to customer, method: 'delete', class: 'button is-danger is-small', data: { confirm: '確定要刪除嗎？' } do %>
            <span class="icon is-small">
              <i class="fas fa-trash-alt"></i>
            </span>
            <span>刪除</span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
