<%= form_with model: order, local: true do |form| %>

  <div class="field">
    <%= form.label :delivered_at, '出貨日期', class: 'label' %>
    <div class="control">
      <%= form.date_field :delivered_at, value: Date.today, required: true, class: 'input', disabled: !order.pending? %>
    </div>
  </div>

  <div class="field">
    <%= form.label :number, '訂單編號', class: 'label' %>
    <div class="control">
      <%= form.text_field :number, maxlength: 6, required: true, class: 'input', disabled: !order.pending? %>
    </div>
  </div>

  <div class="field">
    <%= form.label :customer_id, '客戶', class: 'label' %>
    <div class="control">
      <div class="select is-fullwidth">
        <%= form.collection_select :customer_id, Customer.order(id: :asc), :id, :name, { prompt: '--- 請選擇客戶 ---' }, required: true, disabled: !order.pending? %>
        <%# <%= form.grouped_collection_select :customer_id, Area.order(id: :asc), :customers, :name, :id, :name, prompt: '--- 請選擇客戶 ---' %>
      </div>
    </div>
  </div>

  <div class="fields" data-controller="item-form">

    <template data-target="item-form.template">
      <%= form.fields_for :items, Item.new, child_index: 'TEMPLATE_RECORD' do |item| %>
        <%= render 'item_fields', form: item %>
      <% end %>
    </template>

    <%= form.fields_for :items do |item| %>
      <%= render 'item_fields', form: item %>
    <% end %>

    <div data-target="item-form.add_button">
      
    </div>
    <%= link_to '新增項目', '#', class: 'button', data: { action: 'item-form#addItem' } %>

  </div>

  <div class="field">
    <%= form.label :note, '備註欄', class: 'label' %>
    <div class="control">
      <%= form.text_area :note, rows: 5, placeholder: '選填', class: 'textarea' %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= form.button class: 'button is-primary is-medium' do %>
        <span class="icon is-small">
          <i class="fas fa-save"></i>
        </span>
        <span>儲存</span>
      <% end %>
    </div>
  </div>
<% end %>
