<div class="nested-fields" data-new-record="<%= form.object.new_record? %>">
  <div class="field-body">
    <div class="field-label is-normal">
      <label class="label"><%= form.index.to_i + 1 %></label>
    </div>

    <%= form.hidden_field :_destroy %>

    <div class="field">
      <div class="control">
        <div class="select">
          <%= form.collection_select :product_id, Product.order(id: :asc), :id, :name, { prompt: '請選擇商品' } %>
        </div>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <%= form.number_field :quantity, placeholder: '數量', required: true, class: 'input' %>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <div class="select">
          <%= form.select :unit, [ ['箱', 0], ['桌', 1] ] %>
        </div>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <%= form.number_field :total_quantity, placeholder: '總數量', required: true, class: 'input' %>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <%= form.number_field :price, placeholder: '單價', required: true, class: 'input', step: :any %>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <%= form.number_field :total_price, placeholder: '單項總價', required: true, class: 'input' %>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <%= link_to '刪除', '#', class: 'button is-danger', data: { action: 'item-form#removeItem' } %>
      </div>
    </div>

  </div>
</div>
