<%= form_with model: product, local: true do |form| %>
  <div class="field">
    <%= form.label :name, '商品名稱', class: 'label' %>
    <div class="control">
      <%= form.text_field :name, placeholder: '請輸入商品名稱', required: true,  class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= form.label :list_price, '定價', class: 'label' %>
    <div class="control">
      <%= form.number_field :list_price, placeholder: '請輸入價格', required: true,  class: 'input' %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= form.button class: 'button is-primary is-medium' do %>
        <span class="icon is-small">
          <i class="fas fa-save"></i>
        </span>
        <span>儲存</span>
      <% end %>

      <%= link_to products_path, class: 'button is-light is-medium' do %>
        <span class="icon is-small">
          <i class="fas fa-undo"></i>
        </span>
        <span>返回</span>
      <% end %>
    </div>
  </div>
<% end %>
